<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oauth Activity By Clyde Balaman</title>
</head>
<body>
    
    <% if(user) { %>
        <a href="/auth/logout">Logout</a>    
        <br>
        <% } else { %>
        <a href="/auth/login">Login</a>
        <br>
        <% } %>
        <a href="/">Homepage</a>
        <br>
        <a href="/profile">Profile</a>
        <br>
        <hr>

    <h1>Welcome to your profile, <%= user._name %> </h1>    
    <p>
        extra information about you
        <img src="<%= user._picture %>" alt="picture">
        <p>This is your profile thumbnail</p>
    </p>

</body>
</html>